* {
    margin: 0;
    padding: 0;
}

.box {
    height: 10vw auto;
    border: 2px solid black;
    padding: 25px;
    margin: 24px;
    display: inline-block
}

.b1 {
    /* display: none; */
    /* visibility: hidden; */
    display: inline-flex;
    justify-content: center;
}