* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --nav-bgcolor: #131921;
    --txColor: white;
    --search-btn: #ffb733;
    --nav-down-bg: #232f3e;
    --main-body-bgc: #E3E6E6;
    --cards-p-a-hover: rgb(10, 41, 66);
    --cards-p-a: #2162A1;
    --s-2-main-bx: #FFFFFF;

}

body {
    font-family: "Amazon Ember", Arial, sans-serif;
    background-color: var(--main-body-bgc);
}

/* Hover Box ................................................*/
.hover {
    border: 1px solid transparent;
}

.hover:hover {
    border: 1px solid white;
}

/* Navbar Code................................................ */
.main-nav {
    position: sticky;
    top: 0%;
    font-family: "Amazon Ember", Arial, sans-serif;
    background-color: var(--nav-bgcolor);
    width: 100%;
    height: 60px;
    color: var(--txColor);
    display: flex;
}

/* Nav Left Box ................................................ */
.nav-left {
    display: flex;
    height: 60px;
    width: 217px;
}

.nav-logo {
    width: 113px;
    height: 46px;
    background-image: url(img/main_logo.png);
    background-size: cover;
    margin: 1px;
    margin-top: 5px;
    padding: 1px 8px 0px 11px;
}

.nav-addss {
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
    height: 47px;
    cursor: pointer;
}

.nav-addss a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.693);
    font-size: 12px;
    margin-left: 14px;
}

.in a {
    font-weight: 515;
    color: white;
    font-size: 14px;
    margin: 0px;
}

/* Nav Center box ................................................ */

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 905px;
    padding: 5px 4px 0px 3px;
    margin: 0px 8px;
    border-radius: 5px;
    border: none;

}

.set-box {
    cursor: pointer;
    text-align: center;
    width: 58px;
    height: 39px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ffffffde;
}

.nav-center input {
    width: 790px;
    height: 36px;
    font-size: 1rem;
}

.search-box {
    background-color: var(--search-btn);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45px;
    height: 38px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

}

/* Nav Right Box ................................................ */
.nav-right {
    width: 45;
    height: 45;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.en {
    width: 45;
    height: 45;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 6px 5px 6px;
    font-size: 14px;
    cursor: pointer;
}

.en img {
    height: 18px;
    margin: 5px;
}

/* ................................................................ */
.signin_box {
    padding: 7px 4px 8px 9px;
    cursor: pointer;
}

.signin_box :nth-child(1) {
    font-size: 12px;
    font-weight: 400;
    text-align-last: start;
}

.signin_box :nth-child(2) {
    font-size: 14px;
    font-weight: 700;
}

.order_box :nth-child(1) {
    font-size: 12px;
    font-weight: 400;
    text-align-last: start;
    margin: 9px 0px 0px;
}

.order_box :nth-child(2) {
    font-size: 14px;
    font-weight: 700;
}

.order_box {
    text-align: center;
    padding: 0px 9px 10px;
    margin: 0px 2px;
    cursor: pointer;
}

/* ................................................................................... */
.cart_box {
    cursor: pointer;
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 90px;
}

.cart_box .txt {
    margin-top: 11px;
    font-size: 16px;
    font-weight: 700;
}

/* Down Box ................................................................ */
.nav_down_box {
    background-color: var(--nav-down-bg);
    width: 100%;
    height: 36px;
    display: flex;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.side_menu_a {
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
    height: 17px;
    width: 45px;
    padding: 8px 9px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}


.side_box {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 1px 5px 2px 5px;
    padding: 6px 4px;
    text-align: center;
    cursor: pointer;
}



/* Main Content ................................................ */
.main-box {

    background-image: url(img/Main_img.jpg);
    background-size: cover;
    height: 565px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
}

/* Main Floot box ............................................................. */

.floot-box {
    background-color: white;
    color: rgb(15, 17, 17);
    height: 40px;
    width: 1460px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;

}

.floot-box a {
    color: #2162a1;
    text-decoration: none;
    font-size: 15px
}

.floot-box a:hover {
    text-decoration: underline;
    color: rgb(12, 51, 83);
}

/* shop Boxes....................................................................... */
.sec-1 {

    height: 853px;
    width: 1517px;

    background-color: transparent;
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-start;
    margin: 0px 0px;
    position: relative;
    top: -247px;
    flex-wrap: wrap;

    /*
    height: 600px;
    width: 1460px;
    border: 2px solid black; 
    background-color: transparent;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    margin: 0px 23px;
    position: relative;
    top: -247px;*/

}

.cards {
    background: #fff;
    height: 385px;
    margin-left: 25px;
    margin-right: 10px;
    /* border: 1px solid black; */
    width: 340px;
    margin-bottom: 0;
    margin-top: 0px;
    overflow: hidden;
    padding-top: 20px;
    font-family: "Amazon Ember", Arial, sans-serif;
}


.ctxt {
    margin-left: 16px;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.cards p a {
    padding-left: 20px;
    color: var(--cards-p-a);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;

}

.cards p a:hover {
    color: var(--cards-p-a-hover);
}

.card1 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 304px;
    padding: 0 20px;
    margin-top: 10px;
    cursor: pointer;
}

.p1 {
    color: rgb(15, 17, 17);
    font-size: 12px;
    font-weight: 400;
}

.i2,
.i4 {
    margin-left: 17px;
}

.card1 img {
    width: 140px;
    margin: 0px;
    height: 126px;
    cursor: pointer;
}

.card2 {
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 275px;
    margin-bottom: 44px;
    padding: 0 20px;
}

.card2 img {
    cursor: pointer;
    height: 295px;
    width: 310px;
    margin: 0px -6px;
    margin-top: 10px;
}

.card4 {
    margin-top: 10px;
    padding: 0px 15px;
    width: 310px;
    height: 280px;
    cursor: pointer;
}

.c-4-1 img {
    width: 309px;
    height: 145px;
}

.t-4-1 {
    font-size: 14px;
    font-weight: 450;
}

.c-4-inr {
    display: flex;

}

.c-4-2 img {
    width: 100px;
    height: 75px;
}

.c-4-2-2,
.c-4-2-3 {
    margin-left: 8px;
}

/* .......................Section 2............... */
.bxtxt {
    font-size: 20px;
    font-weight: 700;
    color: black;
    padding-bottom: 8px;
    
}

.sec-2 {
    position: relative;
    bottom: 248px;
    height: 261px;
    display: flex;
    justify-content: center;
}

.s-2-main-bx {
    padding: 10px 20px;
    padding-top: 18px;
    width: 1425px;
    background-color: var(--s-2-main-bx);
    cursor: pointer;
}

.sec-img-bx {
    display: flex;
    justify-content: space-between;

}

.tt {
    height: 200px;
    width: 200px;
}

.sec-img-bx :nth-child(8) img {
    height: 200px;
    width: 150px;
}

/* .......................Section 3............... */
.sec-3 {
    position: relative;
    bottom: 226px;
    height: 261px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.sec-4 {
    /* border: .2px solid black; */
    height: 427px;
    width: 1517px;
    background-color: transparent;
    display: flex;

    align-items: flex-start;
    margin: 0px 0px;
    position: relative;
    top: -201px;
    flex-wrap: wrap;

}

.sec-5 {
    position: relative;
    bottom: 201px;
    height: 261px;
    display: flex;
    justify-content: center;
}

.sec-6 {
    position: relative;
    bottom: 180px;
    height: 261px;
    display: flex;
    justify-content: center;
}

.sec-7 {
    /* border: .2px solid black; */
    height: 427px;
    width: 1517px;
    background-color: transparent;
    display: flex;

    align-items: flex-start;
    margin: 0px 0px;
    position: relative;
    top: -158px;
    flex-wrap: wrap;

}

.sec-8{
        position: relative;
    bottom: 148px;
    height: 276px;
    display: flex;
    justify-content: center;
}
/* ....................Main Last Box Sign In Box ................................ */
.signin-box-down {
    display: flex;
    align-items: center;
    height: 188px;
    background-color: var(--s-2-main-bx);
}

.iner-bx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
    width: 1520px;
    height: 148px;
    border: 1px solid #80808087;
}

.sgtxt {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.sg-btn {
    width: 243px;
    height: 30px;
    border: none;
    border-radius: 30px;
    /* background-color: #ffd710cc; */
    background-color: #FFD814;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sg-btn {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.sg-btn:hover {
    /* background-color: #FFD814; */
    background-color: #dfc335;
}

.dwntxt {
    color: black;
    line-height: 2;
    font-size: 11px;
    font-weight: 400;
}

/* Footer ................................................ */

.back-box a {
    display: block;
    text-align: center;
    height: 18px;
    padding: 15px 0px;

    background-color: #37475A;
    color: #FFF;

    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.footer {
    background-color: #232F3E;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px 0px;

    align-items: flex-start;
    color: white;
    /* padding-left: 135px; */
}

.f-links h2 {
    font-size: 16px;
    font-weight: 700;
    color: rgb(225, 225, 225);
    padding-bottom: 8px;
}

.footer a {
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-size: 14px;
    font-weight: 400;
}

.footer a:hover {
    text-decoration: underline;
}

.f-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo-a{
    display: flex;
    padding-top: 17px;
    cursor: pointer;
}

.ftbdown{
    background-color: #232F3E;
    border: 1px solid #3A4553;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
    padding-top: 17px;
}
.downft{
width: 860px;
height: 60px;
display: flex;
justify-content: space-around;
align-items: center ;
}
.dflag{
top: 8px;
position: relative;
    align-items: center;
    text-align: center;
    height: 18px;
    margin: 5px;
}
.boxes span{
    margin-left: 8px;

    text-align: center;
    color: #ccc;
    border: 1px solid white;
    padding: 4px 27px 5px 9px; ;
    cursor: pointer;

}

.Down-M-Links-Main{
    height: 500px;
    background-color: #131A22;

}
.links-box span:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
.links-box{
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    align-items: flex-start;

    padding: 30px 49px;
    max-width: 1000px;
    height: 301px;
    margin-left: 260px;
    margin-right: 260px;
    cursor: pointer;
    flex-wrap: wrap;

}
.links-box span{
    font-size: 12px;
    font-weight: 400;
    padding: 0px 14px;
}

.links-box span h5{
    color: rgb(221, 221, 221);
    font-size: 12px;
    cursor: pointer;
}
.links-box span p{
    cursor: pointer;
    color:rgb(153, 153, 153);
    font-size: 12px;
}

.Link-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    height: 37px;
    color: #DDDDDD;
    font-size: 14px;
    font-weight: 400;
    
}
.Link-box span{
    cursor: pointer;
    padding: 0px 7.2px;
}
.Link-box span:hover{
    text-decoration: underline;
    text-decoration-color: #DDDDDD;

}
.Link-box img{
        width: 36px;
}
.link-down-box{
    background-color: #131A22;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDDDDD;
    font-size: 14px;
    font-weight: 400;
    flex-direction: column ;
    padding-bottom: 40px;
}
.by{
    padding: 14px;
}

.by a{
    color: #DDDDDD;
    font-size: large;
}