body{
    background-color: lightseagreen;
}

div  p{
    background-color: blue;
    color: white;
}
div p:first-child{
    background-color: yellow;
    color: red;
    
}
span p:first-child{
    background-color: white;
    color: blue;
}
 
span p{
    background-color: red;
    color: yellow;
}