 * {
     margin: 0;
     padding: 0;
 }

 .papa {
     padding: 10px;
     margin: 12px;
     border: 2px solid red;
     position: relative;

     /* Exception:  transform, Filter, or perspective porperties can also make an element apperar as positioned */
     /* transform: translate(0); */
     /* filter: invert(0); */
     /* perspective:0em; */
 }

 .box {
     border: 2px solid;
     border-radius: 20px;
     height: 144px auto;
     width: 80vw;
     margin: 10px;
     padding: 10px;
 }

 .box1 {
     background-color: lightblue;
     /* position: absolute; */
     /* z-index: 1; */
     /* top: 0px; */
     /* bottom: 0px; */
     /* left: 0px */
     position: sticky;
     top: 0%;
     height: 25px;
     margin: 5px;
     text-align: center;

 }

 .box2 {
     background-color: aquamarine;
     /* position: relative;
            top: 50px;
            left: 50px;
            z-index: 2; */
 }

 .box3 {
     background-color: lightcoral;
 }

 .box4 {
     /* left: 33vw;
            bottom: 0px;
            width: 267px;
            background-color: lightpink;
            position: fixed;
            height: 51px; */
     background-color: lightpink;
     /* position: fixed;
    height: 81px; */

 }