* {
            margin: 10px;
            padding: 0px;
        }

        main {
            border: 1.2px solid;
            height: 69vh;
            width: 26vw;
            padding: 5px;
            background-color: rgb(164 190 221 / 71%);
            /* border: 1.2px solid ;
            height: 80vh;
            width: 80vw;
            padding: 20px;
            background-color: rgba(200, 219, 243, 0.744); */
        }

        .first {
            background-color: white;
            border: 1.2px solid;
            border-radius: 20px;
            height: max-content;
            text-align: center;
        }

        div img {
            height: 180px;
            width: 220px;
            display: flex;
            justify-self: center;
            border-radius: 20px;
            box-shadow: 8px 8px 8px lightgray;
            position: relative;
            top: 2px;
            z-index: 1;

        }

        div ul {
            text-shadow: 1.2px 1.2px 9px;
            display: flex;
            padding: 5px;
            justify-self: center;
        }

        div ul li {
            border: 1.5px solid black;
            border-radius: 30px;
            list-style: none;
            width: 80px;

        }

        h2 {
            color: rgba(83, 87, 88, 0.821);
            font-family: 'Times New Roman', Times, serif;
        }

        .more {
            text-align: center;
            border: 1.5px solid black;
            border-radius: 20px;
            height: 20px;
            width: 110px;
            justify-self: center;
            background-color: rgba(200, 219, 243, 0.744);
            color: blue;

            a:hover {
                background-color: rgba(68, 134, 134, 0.442);
                border-radius: 30px;
            }
        }